.home-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  text-align: center;
}

.home-container h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
  color: #4070f4; /* Ajusta el color como prefieras */
}

.home-container p {
  font-size: 1.2rem;
}
