<header>
  <div class="logo">PARQUE VIVO</div> 
  <div class="items">
    <!-- Mostrar el botón solo si el usuario no está autenticado -->
    <button class="nav-btn register-btn" *ngIf="!isAuthenticated" routerLink="/auth/login">Ingresar / Registrarse</button>
    
    <!-- Botón de notificaciones -->
    <button class="nav-btn icon-btn bell-icon" *ngIf="isAuthenticated" (click)="toggleNotifications()">
      <i class="bi bi-bell-fill"></i>
      <span *ngIf="hasNewEvents" class="badge">!</span>
    </button>

    <!-- Botón de usuario -->
    <div *ngIf="isAuthenticated" class="user-dropdown">
      <button class="nav-btn icon-btn user-icon" (click)="toggleUserMenu()">
        <i class="bi bi-person-circle"></i>
      </button>
      <!-- Flecha que indica que pertenece al botón -->
      <div *ngIf="userMenuOpen" class="user-menu">
        <div class="arrow-up"></div> <!-- Flecha -->
        <p>{{ userEmail }}</p>
        <button (click)="logout()">Cerrar sesión <i class="bi bi-box-arrow-left"></i></button>
      </div>
    </div>
  </div>
</header>


<!-- Notificaciones (eventos) -->
<div *ngIf="notificationsOpen" class="notifications">
  <div class="arrow-up"></div>
  <h3>Eventos actuales</h3>
  <ul>
    <li *ngFor="let event of filteredEvents">
      {{ event.title }} - {{ event.timeFrom }} - {{ event.timeTo }} - {{ event.park }} - 
      <a [routerLink]="['/home/activities']" class="btn" (click)="goToEvent(event)">Conocer más</a>
    </li>
  </ul>
</div>

