header {
    height: 80px;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    color: white;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    color: white;
    z-index: 1000; /* Asegura que el header esté por encima de otros elementos */
}

.left-section {
    flex: 1;
    display: flex;
    align-items: center;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    font-weight: 600;
}

.nav-btn {
    color: white;
    border: none;
    padding: 10px 20px;
    margin-left: 0;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.register-btn {
    border-radius: 20px ;
    background-color: #4A3AFF;
    font-weight: 400; 
}

.icon-btn {
    background: transparent; 
    width: 40px;
    height: 40px;
    padding: 0;
    margin-left: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: #4A3AFF;
}

.icon-btn:hover {
    background: rgba(255, 255, 255, 0.1);
}

.items {
    flex: 1;
    display: flex;
    align-items: center;
}