/* General layout */
.wrapper {
  display: flex;
  height: 100vh;
  width: 100vw;
  position: relative;
}


/* Contenido principal */
.content-expanded {
  margin-left: 5rem;
  transition: margin-left 0.3s ease;
  flex-grow: 1;
  margin-top: 60px; /* Ajuste para que el contenido no se superponga con el header */
  position: relative;
}

.content-collapsed {
  margin-left: 16.5625rem;
  transition: margin-left 0.3s ease;
  flex-grow: 1;
  margin-top: 60px; /* Ajuste para que el contenido no se superponga con el header */
  position: relative;
}

/* Map container */
.map-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1; 
  pointer-events: none; /* Permite que el contenido encima del mapa sea interactivo */

}

/* Home container styling */
.home-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  position: relative;
  z-index: 2; 
  background-color: rgba(0, 0, 0, 0.5);
  height: 100vh;
  width: 100vw;
}

/* For large screens */
.home-container h2 {
  font-size: 2rem;
  margin-bottom: 20px;
  color: #4070f4;
}

.home-container p {
  font-size: 1.2rem;
  margin-bottom: 20px;
}

/* Medium screens */
@media (max-width: 992px) {
  .home-container h2 {
    font-size: 1.8rem;
  }

  .home-container p {
    font-size: 1.1rem;
  }
}

/* Small screens */
@media (max-width: 768px) {
  .home-container {
    padding-top: 60px;
  }

  .home-container h2 {
    font-size: 1.6rem;
  }

  .home-container p {
    font-size: 1rem;
  }
}

/* Very small screens (mobile) */
@media (max-width: 480px) {
  .home-container {
    padding-top: 60px;
  }

  .home-container h2 {
    font-size: 1.4rem;
  }

  .home-container p {
    font-size: 0.9rem;
  }

  /* Ensure sidebar is fixed at the bottom for mobile */
  .sidenav {
    z-index: 10;
  }

  .sidenav-collapsed {
    width: 100%;
  }

  .sidenav-nav {
    flex-direction: row;
    justify-content: space-around;
  }

  .sidenav-nav-item {
    margin-bottom: 0;
  }

  .content-expanded, .content-collapsed {
    margin-left: 0;
    margin-top: 60px; /* Ensure margin from the header */
  }
}
