/* General layout */
.wrapper {
  display: flex;
  height: 100vh;
  width: 100vw;
  position: relative;
  box-sizing: border-box; 
  /* overflow: hidden;  */
}



/* Contenido principal */
.content-expanded, .content-collapsed {
  margin-left: 5rem;
  transition: margin-left 0.3s ease;
  flex-grow: 1;
  margin-top: 60px; /* Ajuste para que el contenido no se superponga con el header */
  position: relative;
  height: calc(100vh - 60px); /* Ajusta para que el contenido ocupe el espacio correcto */
  max-width: 100%; /* Asegura que el contenido no exceda el ancho de la pantalla */
  overflow: auto;
}

.content-collapsed {
  margin-left: 16.5625rem;
}


/* Map container */
.map-container {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  pointer-events: none;
  max-width: 100%; /* Asegura que el mapa no exceda el ancho del contenedor */
  overflow: hidden; /* Evita desbordamientos */
}

/* Home container styling */
.home-container {
  /* position: absolute; */
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  position: relative;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.5);
  height: 100%;
  width: 100%;
  max-width: 100%; /* Asegura que no se exceda el ancho de la pantalla */
  box-sizing: border-box;
  overflow: auto;

}
/* Home container - Actualizado */
.home-container {
  position: relative;
  z-index: 2;
  min-height: 100%;
  width: 100%;
  max-width: none; /* Eliminamos cualquier limitación máxima */
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
}


/* For large screens */
.home-container h2 {
  font-size: 2rem;
  margin-bottom: 20px;
  color: #4070f4;
}

.home-container p {
  font-size: 1.2rem;
  margin-bottom: 20px;
}



/* Medium screens */
@media (max-width: 992px) {
  .home-container h2 {
    font-size: 1.8rem;
  }

  .home-container p {
    font-size: 1.1rem;
  }
}

/* Small screens */
@media (max-width: 768px) {

  .home-container {
    padding-top: 60px;
    max-width: 100%;
  }

  .home-container h2 {
    font-size: 1.6rem;
  }

  .home-container p {
    font-size: 1rem;
  }
}

/* Very small screens (mobile) */
@media (max-width: 480px) {
  .home-container {
    padding-top: 0cm;
  }

  .home-container h2 {
    font-size: 1.4rem;
  }

  .home-container p {
    font-size: 0.9rem;
  }

  /* Sidebar responsive adjustments */
  .sidenav {
    width: 100%;
    height: 5rem;
    position: fixed;
    bottom: 0;
    z-index: 10;
    display: flex;
    align-items: center;
    /* justify-content: space-around; */
  }

  .sidenav-collapsed {
    width: 100%;
  }

  .sidenav-nav {
    flex-direction: row;
    justify-content: space-around;
  }

  .sidenav-nav-item {
    margin-bottom: 0;
  }

  .content-expanded, .content-collapsed {
    margin-left: 0;
    margin-top: 60px; /* Espacio para el header */
    padding-bottom: 5rem; /* Espacio para el sidebar */
  }
}
