<!-- tarjeta descripcion lugar -->
<div class="container mt-5">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title"><i class="bi bi-geo-alt-fill"></i>Parque(nombre)</h5>
      <div class="grid-container">
          <p class="card-text">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vero, modi animi nesciunt consequuntur nemo aliquam aut neque a expedita dolorem non omnis enim corrupti ad! Temporibus doloremque aperiam expedita. Voluptates.
          </p>
          <div class="d-flex justify-content-center">
            <div class="image-container ">
              <img class="img-fluid" src="https://via.placeholder.com/300x200.png?text=Parque" alt="Parque">
            </div>
          </div>

      </div>
      <a href="#" class="btn btn-primary btn-sm rounded-pill">Visitar</a>
    </div>
  </div>
</div>