<!-- <p>authlayout works! jijijija</p>

<div class="limiter"> -->

            <router-outlet></router-outlet>
  
  <!-- </div> -->



<!-- src
|    app
|    |    auth
|    |    |    guards
|    |    |    |    admin.guards.ts
|    |    |    |    auth.guards.ts
|    |    |    |    no-admin.guards.ts
|    |    |    layouts
|    |    |    |    authlayout.componen.html
|    |    |    |    authlayout.componen.ts
|    |    |    pages
|    |    |    |    home-page
|    |    |    |    |    home-page.component.ts
|    |    |    |    |    home-page.component.css
|    |    |    |    |    home-page.component.html
|    |    |    |    login-page
|    |    |    |    |    login-page.component.html
|    |    |    |    |    login-page.component.ts
|    |    |    |     register
|    |    |    |     |   register-page.component.html
|    |    |    |     |   register-page.component.ts
|    |    |    |     page.component.css
|    |    |    services
|    |    |    |    auth.service.ts
|    |    |    auth-routing.module.ts
|    |    |    auth.module.ts
|    |    app.component.css
|    |    app.component.html
|    |    app.component.ts
|    |    app.config.ts
|    |    app.routes.ts
|    assets
|    |    images
|    |        google.png
|    environments
|    |    environments.ts
|    index.hmtl
|    main.ts
|    style.css -->