<div class="container">
    <form class="form forgot-password" [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
        <!-- Mensaje de Carga -->
        <div *ngIf="isLoading" class="loading-message">
            <p>Espera un momento...</p>
        </div>

        <div class="form-content" *ngIf="!isLoading"> <!-- Ocultar el formulario mientras se carga -->
            <header>Recuperar Contraseña</header>
            <!-- Mostrar mensaje de error si el correo no es válido o no se pudo enviar -->
            <div *ngIf="errorMessage" class="error-message">
                <p style="color: red;">{{ errorMessage }}</p>
            </div>

            <div class="field input-field">
                <input type="email" formControlName="email" placeholder="Correo Electrónico" class="input" required />
                <div *ngIf="forgotPasswordForm.get('email')?.invalid && forgotPasswordForm.get('email')?.touched">
                    <p style="color: red;">Por favor ingresa un correo válido.</p>
                </div>
            </div>

            <div class="field button-field">
                <button type="submit" [disabled]="forgotPasswordForm.invalid">Enviar enlace de recuperación</button>
            </div>

            <div class="form-link">
                <span>¿Ya recuerdas tu contraseña? <a routerLink="/auth/login" class="link signup-link">Iniciar sesión</a></span>
            </div>
        </div>
    </form>
</div>
