<div class="container">
    <form class="form forgot-password" [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
        <!-- Mensaje de Carga -->
        <div *ngIf="isLoading" class="loading-message">
            <p>Procesando tu solicitud...</p>
        </div>

        <div class="form-content" *ngIf="!isLoading">
            <header>Recuperar Contraseña</header>
            
            <!-- Mostrar mensaje de éxito -->
            <div *ngIf="successMessage" class="alert alert-success">
                <p>{{ successMessage }}</p>
            </div>
            
            <!-- Mostrar mensaje de error -->
            <div *ngIf="errorMessage" class="alert alert-danger">
                <p>{{ errorMessage }}</p>
            </div>

            <div class="field input-field">
                <input type="email" formControlName="email" placeholder="Correo Electrónico" class="input" required />
                <div *ngIf="forgotPasswordForm.get('email')?.invalid && forgotPasswordForm.get('email')?.touched">
                    <small class="text-danger">Por favor ingresa un correo válido.</small>
                </div>
            </div>

            <div class="field button-field">
                <button type="submit" [disabled]="forgotPasswordForm.invalid || isLoading">
                    <span *ngIf="!isLoading">Enviar enlace de recuperación</span>
                    <span *ngIf="isLoading">Enviando...</span>
                </button>
            </div>

            <div class="form-link">
                <span>¿Ya recuerdas tu contraseña? <a routerLink="/auth/login" class="link signup-link">Iniciar sesión</a></span>
            </div>
        </div>
    </form>
</div>