.container {
  max-width: 1200px; /* Ajusta el tamaño según sea necesario */
  margin: auto;
}

.table-responsive {
  overflow-x: auto;
}

.btn-circle {
  width: 30px;
  height: 30px;
  padding: 6px 0;
  border-radius: 15px;
  text-align: center;
  font-size: 12px;
  line-height: 1.428571429;
}

.search-input {
  flex: 1;
  margin-right: 15px;
  opacity: 0.8;
  background-color: rgba(58, 57, 57, 0.8);
  border: none;
  color: white;
  outline: none;
  padding: 0.375rem 0.75rem;
}

/* Cambia el color del placeholder */
.search-input::placeholder {
  color: white;
  opacity: 1;
}

.create-contact {
  white-space: nowrap;
  color: white;
  text-decoration: none;
  transition: color 0.3s, background-color 0.3s;
}

.create-contact:hover,
.create-contact:focus {
  color: white;
  background-color: rgba(18, 38, 67, 0.5);
  outline: none;
}

/* ventana flotante */
.custom-modal .modal-content {
  background-color: #282c34;
  color: #ffffff;
  border-radius: 8px;
}

.custom-modal .modal-header {
  border-bottom: 1px solid #444;
}

.custom-modal .modal-header .btn-close {
  filter: invert(1);
}

.custom-modal .modal-body {
  padding: 20px;
}

.custom-modal-header {
  display: flex;
  justify-content: center;
  position: relative;
}

.custom-modal-header .btn-close {
  position: absolute;
  right: 1rem;
}

/* Estilos Responsivos */
@media (max-width: 768px) {
  .d-flex {
    flex-direction: column;
    align-items: stretch;
  }

  .d-flex .search-input {
    margin-right: 0;
    margin-bottom: 10px;
  }

  .d-flex .create-contact {
    text-align: center;
    margin-bottom: 10px;
  }

  .table-responsive {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch; /* Suaviza el desplazamiento en dispositivos iOS */
  }

  .table {
    width: 100%;
    min-width: 600px; /* Ajusta este valor según el contenido mínimo deseado */
  }

  .table th, .table td {
    padding: 0.75rem 0.5rem;
    white-space: nowrap; /* Evita que el texto se rompa en líneas nuevas */
  }

  .table thead {
    font-size: 0.875rem;
  }

  .table tbody {
    font-size: 0.875rem;
  }

  .table th, .table td {
    text-align: left;
  }
}
