.container {
    display: flex;
    gap: 20px;
}

.card-wrapper {
    position: absolute;
}

.card {
    width: 400px;
    height: 200px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    position: relative;
}

.card-1 {
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    color: white;
    box-sizing: border-box;
}

.card-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: left;
    width: 100%;
}

.card-description {
    font-size: 14px;
    text-align: justify;
    overflow-y: auto;
    max-height: 100px;
    scrollbar-width: none;
}

.card-description::-webkit-scrollbar {
    display: none;
}

.card-2 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 10px;
    padding: 0;
    background-color: transparent;
    border: none;
    box-sizing: border-box;
}

.card-2 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.top-right {
    position: absolute;
    right: 0;
    padding-right: 10px;
    color: white;
    font-weight: bold;
    font-size: 16px;
}

.card-wrapper {
    position: relative;
    padding-top: 30px; /* Espacio para el título */
}

.top-left {
    position: absolute;
    top: 0;
    left: 0;
    padding: 5px 10px;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    font-size: 14px;
    z-index: 10; /* Asegura que el texto esté encima de las tarjetas */
}

/* Estilos para el modal */
.modal {
    display: block;
    position: fixed;
    z-index: 1000;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.9);
}

.modal-content {
    margin: auto;
    display: block;
    width: 60%; /* Cambiado de 80% a 60% para que sea más pequeño */
    max-width: 500px; /* Reducido de 700px a 500px */
    border-radius: 10px;
}

.close {
    position: absolute;
    top: 20px;
    right: 35px;
    color: white;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: #999;
    text-decoration: none;
    cursor: pointer;
}